/*******************     Navigation  **********************/

.logo {
	width: 18vh;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav li {
	align-content: flex-end;
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
	color: #e9ecef;
}

.pbutton {
	border-radius: 15px;
	padding: 5px 20px;
	background-color: #003566;
	color: white;
}

.pbutton:active {
	background-color: #1a759f;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

@media (max-width: 540px) {
	.nav {
		flex-direction: column;
	}
}

/**************************************** END NAVIGATION **/